/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}

.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: lightblue;
}

/* BOOKS NAV -------- */

.books-nav a {
  font-size: .75em;
  color: black;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em;
  transition: .2s;
}

.books-nav a:hover,
.books-nav .active {
  color: #fff;
  background: lightblue;
}
